<div class="container">
  <form class="form-horizontal" #signup="ngForm" role="form">
      <h2 class="text-center">Registration Form</h2>
      <div class="form-group">
          <label for="firstName" class="col-sm-3 control-label">Full Name</label>
          <div class="col-sm-9">
              <input type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus [(ngModel)]="user.firstName" name="firstName">
              <span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>
          </div>
      </div>
      <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
              <input type="email" id="email" placeholder="Email" class="form-control" [(ngModel)]="user.email" name="email">
          </div>
      </div>
      <div class="form-group">
          <label for="password" class="col-sm-3 control-label">Password</label>
          <div class="col-sm-9">
              <input type="password" id="password" placeholder="Password" class="form-control" [(ngModel)]="user.password" name="password">
          </div>
      </div>
      <div class="form-group">
          <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
          <div class="col-sm-9">
              <input type="date" id="birthDate" class="form-control" [(ngModel)]="user.dob" name="dob">
          </div>
      </div>
      <div class="form-group">
          <label for="country" class="col-sm-3 control-label">Country</label>
          <div class="col-sm-9">
              <select id="country" class="form-control" [(ngModel)]="user.country" name="country">
                  <option *ngFor="let c of country" [value]="c">{{c}}</option>
              </select>
          </div>
      </div> <!-- /.form-group -->
      <div class="form-group">
          <label class="control-label col-sm-3">Gender</label>
          <div class="col-sm-9">
                <select id="select" class="form-control" [(ngModel)]= "user.gender" name="gender">
                  <option *ngFor = "let g of gender" [value] = "g"> {{g}} </option>
                </select>
          </div>
      </div> <!-- /.form-group -->
      <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
              <div class="checkbox">
                  <label>
                      <input type="checkbox" [(ngModel)]="user.terms" name="terms">I accept <a href="#">terms</a>
                  </label>
              </div>
          </div>
      </div> <!-- /.form-group -->
      <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!signup.form.valid">Register</button>
          </div>
      </div>
  </form> <!-- /form -->
  {{user | json}}
</div>